/* Box */
.ticker-box {
    margin-bottom: 10px;
}


/* Content */
#ticker-content .ticker-header {
    padding: 15px;
    border: 1px solid #ddd;
    border-bottom: 0;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #337ab7;
}
@media (min-width: 1200px) {
    #ticker-content .ticker-header {
        float: left;
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }
}
#ticker-content .ticker-body {
    border: 1px solid #ddd;
    background-color: #fff;
}
#ticker-content .ticker-body ul {
    width: 100%;
    padding: 0;
}
#ticker-content .ticker-body li {
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
#ticker-content .ticker-body li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
#ticker-content .ticker-body .time {
    width: 75px;
    vertical-align: top;
    text-align: center;
}
